@using praktika22.Data.ViewModell
@model VMItems

@{
    Layout = "_Layout";
}

<div>
    <select onchange="SelectCategory(this)">
        <option value="0">выбрать</option>
        @{
            foreach (var Category in Model.Categorys)
            {
                if (Category.Id == Model.SelectCategory)
                {
                    <option selected="selected" value="@Category.Id">@Category.Name</option>
                }
                else
                {
                    <option value="@Category.Id">@Category.Name</option>
                }
            }
        }
    </select>


    <script>
        function SelectCategory(sender) {
            window.location.href = "/Items/List?id=" + sender.value;
        }
    </script>
</div>

<h2>Все предметы</h2>
<a href="/Items/Add">Добавить новый предмет</a>
@{
    foreach (var item in Model.Items)
    {
        if (item.Category.Id == Model.SelectCategory || Model.SelectCategory == 0)
        {
            // Если ID категории совпадает с выбранной
            if (item.Category.Id == Model.SelectCategory)
            {
                        // отображаем
                <div class="item">
                    <img src="@item.Img" />
                    <!-- Кнопка добавления в корзину-->
                    <div class="basket">
                        <div class="button" id="@item.Id">
                            В корзину
                        </div>
                        <div class="count">
                            <div class="button min"></div>
                            <div class="text">1</div>
                            <div class="button max"></div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="item">
                    <img src="@item.Img" />
                    <div class="data">
                        <h3>Модель: @item.Name</h3>
                        <div>Цена: @item.Price.ToString("c")</div>
                        <div>Категория: @item.Category?.Name</div>
                        <div>Описание: @item.Description</div>
                        <div>
                            <a href="/Items/Update?id=@item.Id">Редактировать</a>
                        </div>
                    </div>
                </div>
            }
        }
    }

}
<script>
    $(".item").children(".basket").children(".button").click(function () {
        // показываем элемент с классом count
        $(this).parent().children(".count").show();
        // скрываем кнопку
        $(this).hide();
        // вызываем AJAX
        $.ajax({
            // контроллер выполнения и метод вызываемый в нём
            url: '@Url.Action("Basket", "Items")',
            // тип данных которые отправляем
            contentType: "application/json; charset=utf-8",
            // передаём ID предмета
            data: { idItem: $(this).attr('id') },
            // тип данных, ожидаемых от сервера.
            dataType: "json",
            // Функция успешного выполнения
            success: SuccessBasket,
            // функция не успешного выполнения
            error: AjaxError
        });
    });

    // Функция успешного выполнения
    function SuccessBasket(data) {
        console.log(data);
    }

    // Функция не успешного выполнения
    function AjaxError() {
        console.log("Ошибка выполнения ajax");
    }
</script>


