@using praktika22.Data.ViewModell
@model VMItems

@{
    Layout = "_Layout";
}

<div>
    <select onchange="SelectCategory(this)">
        <option value="0">выбрать</option>
        @{
            foreach (var Category in Model.Categorys)
            {
                if (Category.Id == Model.SelectCategory)
                {
                    <option selected="selected" value="@Category.Id">@Category.Name</option>
                }
                else
                {
                    <option value="@Category.Id">@Category.Name</option>
                }
            }
        }
    </select>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function SelectCategory(sender) {
            window.location.href = "/Items/List?id=" + sender.value;
        }

        $(document).ready(function () {
            // при нажатии на кнопку "В корзину"
            $(".basket .button").click(function () {
                var $this = $(this);
                var $basket = $this.parent();

                console.log("Нажали В корзину, ID:", $this.attr('id'));

                // показываем счетчик
                $basket.children(".count").show();
                // скрываем кнопку
                $this.hide();

                // AJAX запрос
                $.ajax({
                    url: '@Url.Action("Basket", "Items")',
                    type: 'POST',
                    data: { idItem: $this.attr('id') },
                    success: function (data) {
                        console.log("Товар добавлен", data);
                    },
                    error: function (xhr, status, error) {
                        console.log("Ошибка:", error);
                    }
                });
            });

            // КНОПКА МИНУС
            $(".min").click(function () {
                var $this = $(this);
                var $countDiv = $this.parent();
                var $basketDiv = $countDiv.parent();
                var $mainButton = $basketDiv.children('.button');
                var $textSpan = $countDiv.children('.text');

                var idItem = $mainButton.attr('id');
                var count = parseInt($textSpan.text());

                // уменьшаем
                count--;
                console.log("Минус: ID=" + idItem + ", новое значение=" + count);

                if (count <= 0) {
                    // если 0 - показываем кнопку "В корзину"
                    $mainButton.show();
                    $countDiv.hide();
                    count = 0;
                } else {
                    // обновляем текст
                    $textSpan.text(count);
                }

                // AJAX
                $.ajax({
                    url: '@Url.Action("BasketCount", "Items")',
                    type: 'POST',
                    data: { idItem: idItem, count: count },
                    success: function (data) {
                        console.log("Обновлено", data);
                    },
                    error: function (xhr, status, error) {
                        console.log("Ошибка:", error);
                    }
                });
            });

            // КНОПКА ПЛЮС - отдельный обработчик
            $(".max").click(function () {
                var $this = $(this);
                var $countDiv = $this.parent();
                var $basketDiv = $countDiv.parent();
                var $mainButton = $basketDiv.children('.button');
                var $textSpan = $countDiv.children('.text');

                var idItem = $mainButton.attr('id');
                var count = parseInt($textSpan.text());

                // увеличиваем
                count++;
                console.log("Плюс: ID=" + idItem + ", новое значение=" + count);

                // обновляем текст
                $textSpan.text(count);

                // AJAX
                $.ajax({
                    url: '@Url.Action("BasketCount", "Items")',
                    type: 'POST',
                    data: { idItem: idItem, count: count },
                    success: function (data) {
                        console.log("Обновлено", data);
                    },
                    error: function (xhr, status, error) {
                        console.log("Ошибка:", error);
                    }
                });
            });
        });

    </script>
</div>

<h2>Все предметы</h2>
<a href="/Items/Add">Добавить новый предмет</a>

<div class="items-container">
    @{
        foreach (var item in Model.Items)
        {
            if (item.Category.Id == Model.SelectCategory || Model.SelectCategory == 0)
            {
                <div class="item">
                    <img src="@item.Img" />

                    <div class="basket">
                        <div class="button" id="@item.Id">
                            В корзину
                        </div>
                        <div class="count" style="display: none;">
                            <div class="min">-</div>
                            <div class="text">1</div>
                            <div class="max">+</div>
                        </div>
                    </div>

                    <div class="data">
                        <h3>Модель: @item.Name</h3>
                        <div>Цена: @item.Price.ToString("c")</div>
                        <div>Категория: @item.Category?.Name</div>
                        <div>Описание: @item.Description</div>
                        <div>
                            <a href="/Items/Update?id=@item.Id">Редактировать</a>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>